{{define "main"}}
<div>
  {{if .IsHome}}
    {{range first 10 .Site.RegularPages}}
      <p>[ {{.Lastmod.Format "2 January 2006"}} ] <a style="text-decoration: none; color: black; font-weight: bold;" href="{{.RelPermalink}}">{{.Title}}</a></p>
      {{.Render "summary"}}
    {{end}}
  {{else}}
    {{range.Pages.ByDate.Reverse}}
    <p>
      [ {{.Date.Format "02 January 2006"}} ]
      <a style="text-decoration: none; color: black; font-weight: bold;" href="{{.Permalink}}">{{.Title}}</a>
    </p>
    {{end}}
  {{end}}
</div>
{{end}}
