{{ define "main" }}
<div>
{{ if or (eq .File.TranslationBaseName "мы") (eq .File.TranslationBaseName "контакты") }}
{{ else }}
<img src="/image/{{.File.TranslationBaseName}}.jpg"/>
{{ end }}

<p>{{.Param "summary"}}</p>

{{ if eq .Params.toc "defined"}}
{{ .TableOfContents }}
{{ end }}

{{ .Content }}
</div>
{{ end }}
