<header>
    <div>
        <div id="logo">
            <a href="/">Русская Пустошь</a>
        </div>
        <div id="links">
            <a href="/теория">Теория</a>
            <a href="/рецензии">Рецензии</a>
            <a style="white-space: nowrap;" href="/мы">О нас</a>
            <a href="/контакты">Контакты</a>
        <div>
    </div>
</header>