/* body {
  font-family: sans-serif;
  margin: auto;
  max-width: 720px;
  line-height: 1.5;
  font-size: 20px;
  background-color: #e2dfd2;
}
h1 a {
  font-weight: normal;
  color: black;
}
h2 {
  padding-top: 3px;
}
a {
  text-decoration: none;
}
m a {
  border: black 1px solid;
  padding: 6px;
  color: brown;
}
@media screen and (max-width: 760px) {
  h1 {
    line-height: 1.2;
    top: -10px;
    position: relative;
  }
  m {
    display: block;
  }
  m a {
    border: none;
  }
  body {
    padding: 20px;
  }
  #mb {
    visibility: visible;
    display: block;
  }
}
img {
  width: 100%;
}
*/

body {
  font-family: 'Raleway';
  line-height: 1.5;
  font-size: 20px;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: #E2DFD2;
}

header, footer {
  background-color: #E49B0F;
}

img {
  width: 100%;
  margin-bottom: 5px;
  margin-top: 5px;
}

main, header, footer {
  display: flex;
  justify-content: center;
  max-width: 100vw;
}

main {
  padding: 10px 10px;
}

main p, main h1, main h2, main h3 {
  padding-top: 8px;
}

main h1 {
  font-size: 2rem;
}

main h2 {
  font-size: 1.5rem;
}

main h3 {
  font-size: 1.3rem;
}

main h4 {
  font-size: 1.1 rem;
}

main div nav ul {
  color: orange;
}

main div nav ul li a {
  color: black;
  text-decoration: none;
}

header div {
  display: flex;
  justify-content: space-between;
}

header div div#links a {
  margin-left: 15px;
}

main > div, header > div {
  width: 60%;
  min-height: 40px;
}

header div div a {
  color: black;
  text-decoration: none;
}

header div div {
  align-items: center;
}

header div div#logo {
  font-weight: bold;
}

@media screen and (max-width: 760px) {
  main > div, header > div {
    width: 100%;
    padding: 5px 5px;
  }
  main {
    width: 100%;
  }
  header > div > div#links {
    display: grid;
    grid-template-columns: auto auto;
  }
}

@media (min-width: 760px) and (max-width: 1080px) {
  main > div, header > div {
    width: 80%;
  }
}

@media (min-width: 1080px) and (max-width: 1300px) {
  main > div, header > div {
    width: 70%;
  }
}

@media (min-width: 1620px) {
  main > div, header > div {
    width: 50%;
  }
}
